<!-- Register/login Header -->
<div>
 <nav class="navbar navbar">
   <a ui-sref="register" class="navbar-brand">
     <img alt="Brand" src="assets/images/designmixer_logo_T150.png">
   </a>
     <form class="navbar-form navbar-left" role="register">
        <div class="form-group">
          <div class="col-xs-12">
         <label class="sr-only" for="email">Email</label>
           <input ng-model="email" type="text" class="form-control" id="emailInput" placeholder="Email">
          </div>
       </div>
       <div class="form-group">
         <label class="sr-only" for="password">Password</label>
           <input ng-model="password" type="password" class="form-control" id="passwordInput" placeholder="Password">
       </div>
       <button type="submit" class="btn btn-default" ng-click+"createUser()">Register</button>       
     </form>
 </nav>
</div>
